.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #f5f7fa;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: #dfe6eb;
  border-radius: 4px;
}

.container--left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 30px;
}

.container--rigth{
  background-color: #f7f9fa;
  padding: 30px;
}

@media (min-width: 768px){
  .container {
    flex-direction: row;
  }
}
